
html, body {
	height: 100%;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	background: -webkit-linear-gradient(#222, #222, #444);
	background: -moz-linear-gradient(#222, #222, #444);
	background: -o-linear-gradient(#222, #222, #444);
	background: linear-gradient(#222, #222, #444);
}
.home-icon {
	vertical-align: middle;
}
.card-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}
.card {
	position: absolute;
	width: 240px;
	height: 150px;
	left: -120px;
	top: -75px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
	animation: spin 40s infinite linear;
}
.card .faces {
	position: absolute;
	width: 120px;
	height: 150px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.card .faces div {
	position: absolute;
	width: 120px;
	height: 150px;
	border: 1px solid #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.card .faces .backface {
	background: #fff;
	color: #000;
	line-height: 150px;
	text-align: center;
	vertical-align: middle;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.card .face1 .frontface {
	background: url("../images/card/zulns.jpg");
}
.card .face2 .frontface {
	background: url("../images/card/merlin.jpg");
}
.card .face1 {
	left: 0px;
	top: 0px;
	animation: face1 1.9s infinite linear;
}
.card .face2 {
	left: 120px;
	top: 0px;
	animation: face2 2s infinite linear;
}
@keyframes face1 {
	000.00% {transform-origin: left; transform: rotateY(   0deg);}
	100.00% {transform-origin: left; transform: rotateY(-360deg);}
}
@keyframes face2 {
	000.00% {transform-origin: right; transform: rotateY(  0deg);}
	100.00% {transform-origin: right; transform: rotateY(360deg);}
}
@-webkit-keyframes spin {
	010.00% {-webkit-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-webkit-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-webkit-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-webkit-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-moz-keyframes spin {
	010.00% {-moz-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-moz-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-moz-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-moz-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-o-keyframes spin {
	010.00% {-o-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-o-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-o-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-o-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@keyframes spin {
	010.00% {transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
