
html, body {
	height: 100%;
	font: 14px Arial;
	background: #666;
	background: -webkit-linear-gradient(#222, #222, #444);
	background: -moz-linear-gradient(#222, #222, #444);
	background: -o-linear-gradient(#222, #222, #444);
	background: linear-gradient(#222, #222, #444);
	color: #fff;
}
.home-icon {
	vertical-align: middle;
}
#title {
	font-size: 1.2em;
	font-weight: bold;
}
.author {
	font-size: 0.9em;
}
table tr {
	height: 40px;
}
textarea {
	width: 500px;
	font-size: 1em;
}
select {
	width: 320px;
	font-size: 1em;
}
button {
	width: 180px;
	height: 32px;
	font-size: 1em;
	cursor: pointer;
}
button:enabled {
	cursor: pointer;
}
button:disabled {
	cursor: default;
}
#btnClearExpr {
	float: right;
}
