
/*****************************************************************
 * Pure CSS3 Dynamic Tetrahedron Animation With Background Image *
 * Design by ZulNs @Yogyakarta, December 2015                    *
 *****************************************************************/

html, body {
	height: 100%;
	font: 16px Arial;
	background: #666;
	background: -webkit-linear-gradient(#222, #222, #444);
	background: -moz-linear-gradient(#222, #222, #444);
	background: -o-linear-gradient(#222, #222, #444);
	background: linear-gradient(#222, #222, #444);
	color: #fff;
}
.home-icon {
	vertical-align: middle;
}
.tetrahedron-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}
.tetrahedron {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.tetrahedron .face {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: transform 0.5s ease-in;
	-moz-transition: transform 0.5s ease-in;
	-o-transition: transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
}
.tetrahedron .face div {
	position: absolute;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.tetrahedron .frontface {
	color: transparent;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
.tetrahedron .backface {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.paused {
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}
.animate {
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	animation: spin 60s infinite linear;
}
@-webkit-keyframes spin {
	010.00% {-webkit-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-webkit-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-webkit-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-webkit-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-moz-keyframes spin {
	010.00% {-moz-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-moz-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-moz-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-moz-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-o-keyframes spin {
	010.00% {-o-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-o-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-o-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-o-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@keyframes spin {
	010.00% {transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
.show-geometry .face div {
	border: 1px solid #fff;
	color: #fff !important;
	background: rgba(80, 80, 80, 0.5) !important;
	-webkit-backface-visibility: visible !important;
	-moz-backface-visibility: visible !important;
	-o-backface-visibility: visible !important;
	backface-visibility: visible !important;
}
input, input~ label, button, .manual-transform {
	cursor: pointer;
}
input:checked~ label {
	color: #f77;
}
