
html, body {
	height: 100%;
	font-size: 16px;
	font-family: Verdana, Geneva, sans-serif;
	color: #fff;
	background: -webkit-linear-gradient(#222, #222, #444);
	background: -moz-linear-gradient(#222, #222, #444);
	background: -o-linear-gradient(#222, #222, #444);
	background: linear-gradient(#222, #222, #444);
}
.home-icon {
	vertical-align: middle;
}
.card-container {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}
.card {
	position: absolute;
	width: 120px;
	height: 150px;
	left: -60px;
	top: -75px;
	border: 1px solid #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.card .side {
	position: absolute;
	width: 120px;
	text-align: center;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
.card .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.card img {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.card:hover {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}
.flip1 {
	-webkit-animation: flip1 4s linear;
	-moz-animation: flip1 4s linear;
	-o-animation: flip1 4s linear;
	animation: flip1 4s linear;
}
@-webkit-keyframes flip1 {
	000.00% {-webkit-transform: translateZ(    0px) rotateY(  0deg);}
	025.00% {-webkit-transform: translateZ(  800px) rotateY(180deg);}
	075.00% {-webkit-transform: translateZ(-5000px) rotateY(180deg);}
	100.00% {-webkit-transform: translateZ(    0px) rotateY(360deg);}
}
@-moz-keyframes flip1 {
	000.00% {-moz-transform: translateZ(    0px) rotateY(  0deg);}
	025.00% {-moz-transform: translateZ(  800px) rotateY(180deg);}
	075.00% {-moz-transform: translateZ(-5000px) rotateY(180deg);}
	100.00% {-moz-transform: translateZ(    0px) rotateY(360deg);}
}
@-o-keyframes flip1 {
	000.00% {-o-transform: translateZ(    0px) rotateY(  0deg);}
	025.00% {-o-transform: translateZ(  800px) rotateY(180deg);}
	075.00% {-o-transform: translateZ(-5000px) rotateY(180deg);}
	100.00% {-o-transform: translateZ(    0px) rotateY(360deg);}
}
@keyframes flip1 {
	000.00% {transform: translateZ(    0px) rotateY(  0deg);}
	025.00% {transform: translateZ(  800px) rotateY(180deg);}
	075.00% {transform: translateZ(-5000px) rotateY(180deg);}
	100.00% {transform: translateZ(    0px) rotateY(360deg);}
}
.flip2 {
	-webkit-animation: flip2 8s linear;
	-moz-animation: flip2 8s linear;
	-o-animation: flip2 8s linear;
	animation: flip2 8s linear;
}
@-webkit-keyframes flip2 {
	000.00% {-webkit-transform: translateZ(   0px) rotateY(               0deg);}
	025.00% {-webkit-transform: translateZ( 500px) rotateY(             720deg);}
	025.01% {-webkit-transform: translateZ( 500px) rotateX(             720deg);}
	050.00% {-webkit-transform: translateZ(   0px) rotateX(               0deg);}
	050.01% {-webkit-transform: translateZ(   0px) rotate3d( 4, -5, 0,    0deg);}
	075.00% {-webkit-transform: translateZ(-500px) rotate3d( 4, -5, 0,  720deg);}
	075.01% {-webkit-transform: translateZ(-500px) rotate3d(-4, -5, 0,  720deg);}
	100.00% {-webkit-transform: translateZ(   0px) rotate3d(-4, -5, 0, 1440deg);}
}
@-moz-keyframes flip2 {
	000.00% {-moz-transform: translateZ(   0px) rotateY(               0deg);}
	025.00% {-moz-transform: translateZ( 500px) rotateY(             720deg);}
	025.01% {-moz-transform: translateZ( 500px) rotateX(             720deg);}
	050.00% {-moz-transform: translateZ(   0px) rotateX(               0deg);}
	050.01% {-moz-transform: translateZ(   0px) rotate3d( 4, -5, 0,    0deg);}
	075.00% {-moz-transform: translateZ(-500px) rotate3d( 4, -5, 0,  720deg);}
	075.01% {-moz-transform: translateZ(-500px) rotate3d(-4, -5, 0,  720deg);}
	100.00% {-moz-transform: translateZ(   0px) rotate3d(-4, -5, 0, 1440deg);}
}
@-o-keyframes flip2 {
	000.00% {-o-transform: translateZ(   0px) rotateY(               0deg);}
	025.00% {-o-transform: translateZ( 500px) rotateY(             720deg);}
	025.01% {-o-transform: translateZ( 500px) rotateX(             720deg);}
	050.00% {-o-transform: translateZ(   0px) rotateX(               0deg);}
	050.01% {-o-transform: translateZ(   0px) rotate3d( 4, -5, 0,    0deg);}
	075.00% {-o-transform: translateZ(-500px) rotate3d( 4, -5, 0,  720deg);}
	075.01% {-o-transform: translateZ(-500px) rotate3d(-4, -5, 0,  720deg);}
	100.00% {-o-transform: translateZ(   0px) rotate3d(-4, -5, 0, 1440deg);}
}
@keyframes flip2 {
	000.00% {transform: translateZ(   0px) rotateY(               0deg);}
	025.00% {transform: translateZ( 500px) rotateY(             720deg);}
	025.01% {transform: translateZ( 500px) rotateX(             720deg);}
	050.00% {transform: translateZ(   0px) rotateX(               0deg);}
	050.01% {transform: translateZ(   0px) rotate3d( 4, -5, 0,    0deg);}
	075.00% {transform: translateZ(-500px) rotate3d( 4, -5, 0,  720deg);}
	075.01% {transform: translateZ(-500px) rotate3d(-4, -5, 0,  720deg);}
	100.00% {transform: translateZ(   0px) rotate3d(-4, -5, 0, 1440deg);}
}
.flip3 {
	-webkit-animation: flip3 4s linear;
	-moz-animation: flip3 4s linear;
	-o-animation: flip3 4s linear;
	animation: flip3 4s linear;
}
@-webkit-keyframes flip3 {
	000.00% {-webkit-transform-origin: 50% 50% -150px;}
	050.00% {-webkit-transform-origin: 50% 50% -150px; -webkit-transform: rotateY(360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotateY(360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotateY(  0deg);}
}
@-moz-keyframes flip3 {
	000.00% {-moz-transform-origin: 50% 50% -150px;}
	050.00% {-moz-transform-origin: 50% 50% -150px; -moz-transform: rotateY(360deg);}
	050.01% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotateY(360deg);}
	100.00% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotateY(  0deg);}
}
@-o-keyframes flip3 {
	000.00% {-o-transform-origin: 50% 50% -150px;}
	050.00% {-o-transform-origin: 50% 50% -150px; -o-transform: rotateY(360deg);}
	050.01% {-o-transform-origin: 50% 50%  150px; -o-transform: rotateY(360deg);}
	100.00% {-o-transform-origin: 50% 50%  150px; -o-transform: rotateY(  0deg);}
}
@keyframes flip3 {
	000.00% {transform-origin: 50% 50% -150px;}
	050.00% {transform-origin: 50% 50% -150px; transform: rotateY(360deg);}
	050.01% {transform-origin: 50% 50%  150px; transform: rotateY(360deg);}
	100.00% {transform-origin: 50% 50%  150px; transform: rotateY(  0deg);}
}
.flip4 {
	-webkit-animation: flip4 4s linear;
	-moz-animation: flip4 4s linear;
	-o-animation: flip4 4s linear;
	animation: flip4 4s linear;
}
@-webkit-keyframes flip4 {
	000.00% {-webkit-transform-origin: 50% 50% -150px;}
	050.00% {-webkit-transform-origin: 50% 50% -150px; -webkit-transform: rotateX(360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotateX(360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotateX(  0deg);}
}
@-moz-keyframes flip4 {
	000.00% {-moz-transform-origin: 50% 50% -150px;}
	050.00% {-moz-transform-origin: 50% 50% -150px; -moz-transform: rotateX(360deg);}
	050.01% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotateX(360deg);}
	100.00% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotateX(  0deg);}
}
@-o-keyframes flip4 {
	000.00% {-o-transform-origin: 50% 50% -150px;}
	050.00% {-o-transform-origin: 50% 50% -150px; -o-transform: rotateX(360deg);}
	050.01% {-o-transform-origin: 50% 50%  150px; -o-transform: rotateX(360deg);}
	100.00% {-o-transform-origin: 50% 50%  150px; -o-transform: rotateX(  0deg);}
}
@keyframes flip4 {
	000.00% {transform-origin: 50% 50% -150px;}
	050.00% {transform-origin: 50% 50% -150px; transform: rotateX(360deg);}
	050.01% {transform-origin: 50% 50%  150px; transform: rotateX(360deg);}
	100.00% {transform-origin: 50% 50%  150px; transform: rotateX(  0deg);}
}
.flip5 {
	-webkit-animation: flip5 4s linear;
	-moz-animation: flip5 4s linear;
	-o-animation: flip5 4s linear;
	animation: flip5 4s linear;
}
@-webkit-keyframes flip5 {
	000.00% {-webkit-transform-origin: 50% 50% -150px;}
	050.00% {-webkit-transform-origin: 50% 50% -150px; -webkit-transform: rotate3d(4, 5, 0, 360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotate3d(4, 5, 0, 360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  150px; -webkit-transform: rotate3d(4, 5, 0,   0deg);}
}
@-moz-keyframes flip5 {
	000.00% {-moz-transform-origin: 50% 50% -150px;}
	050.00% {-moz-transform-origin: 50% 50% -150px; -moz-transform: rotate3d(4, 5, 0, 360deg);}
	050.01% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotate3d(4, 5, 0, 360deg);}
	100.00% {-moz-transform-origin: 50% 50%  150px; -moz-transform: rotate3d(4, 5, 0,   0deg);}
}
@-o-keyframes flip5 {
	000.00% {-o-transform-origin: 50% 50% -150px;}
	050.00% {-o-transform-origin: 50% 50% -150px; -o-transform: rotate3d(4, 5, 0, 360deg);}
	050.01% {-o-transform-origin: 50% 50%  150px; -o-transform: rotate3d(4, 5, 0, 360deg);}
	100.00% {-o-transform-origin: 50% 50%  150px; -o-transform: rotate3d(4, 5, 0,   0deg);}
}
@keyframes flip5 {
	000.00% {transform-origin: 50% 50% -150px;}
	050.00% {transform-origin: 50% 50% -150px; transform: rotate3d(4, 5, 0, 360deg);}
	050.01% {transform-origin: 50% 50%  150px; transform: rotate3d(4, 5, 0, 360deg);}
	100.00% {transform-origin: 50% 50%  150px; transform: rotate3d(4, 5, 0,   0deg);}
}
.flip6 {
	-webkit-animation: flip6 4s linear;
	-moz-animation: flip6 4s linear;
	-o-animation: flip6 4s linear;
	animation: flip6 4s linear;
}
@-webkit-keyframes flip6 {
	000.00% {-webkit-transform-origin: right;}
	050.00% {-webkit-transform-origin: right; -webkit-transform: rotateY(360deg);}
	050.01% {-webkit-transform-origin: left;  -webkit-transform: rotateY(360deg);}
	100.00% {-webkit-transform-origin: left;  -webkit-transform: rotateY(  0deg);}
}
@-moz-keyframes flip6 {
	000.00% {-moz-transform-origin: right;}
	050.00% {-moz-transform-origin: right; -moz-transform: rotateY(360deg);}
	050.01% {-moz-transform-origin: left;  -moz-transform: rotateY(360deg);}
	100.00% {-moz-transform-origin: left;  -moz-transform: rotateY(  0deg);}
}
@-o-keyframes flip6 {
	000.00% {-o-transform-origin: right;}
	050.00% {-o-transform-origin: right; -o-transform: rotateY(360deg);}
	050.01% {-o-transform-origin: left;  -o-transform: rotateY(360deg);}
	100.00% {-o-transform-origin: left;  -o-transform: rotateY(  0deg);}
}
@keyframes flip6 {
	000.00% {transform-origin: right;}
	050.00% {transform-origin: right; transform: rotateY(360deg);}
	050.01% {transform-origin: left;  transform: rotateY(360deg);}
	100.00% {transform-origin: left;  transform: rotateY(  0deg);}
}
.flip7 {
	-webkit-animation: flip7 4s linear;
	-moz-animation: flip7 4s linear;
	-o-animation: flip7 4s linear;
	animation: flip7 4s linear;
}
@-webkit-keyframes flip7 {
	000.00% {-webkit-transform-origin: 150%;}
	050.00% {-webkit-transform-origin: 150%; -webkit-transform: rotateY(360deg);}
	050.01% {-webkit-transform-origin: -50%; -webkit-transform: rotateY(360deg);}
	100.00% {-webkit-transform-origin: -50%; -webkit-transform: rotateY(  0deg);}
}
@-moz-keyframes flip7 {
	000.00% {-moz-transform-origin: 150%;}
	050.00% {-moz-transform-origin: 150%; -moz-transform: rotateY(360deg);}
	050.01% {-moz-transform-origin: -50%; -moz-transform: rotateY(360deg);}
	100.00% {-moz-transform-origin: -50%; -moz-transform: rotateY(  0deg);}
}
@-o-keyframes flip7 {
	000.00% {-o-transform-origin: 150%;}
	050.00% {-o-transform-origin: 150%; -o-transform: rotateY(360deg);}
	050.01% {-o-transform-origin: -50%; -o-transform: rotateY(360deg);}
	100.00% {-o-transform-origin: -50%; -o-transform: rotateY(  0deg);}
}
@keyframes flip7 {
	000.00% {transform-origin: 150%;}
	050.00% {transform-origin: 150%; transform: rotateY(360deg);}
	050.01% {transform-origin: -50%; transform: rotateY(360deg);}
	100.00% {transform-origin: -50%; transform: rotateY(  0deg);}
}
.flip8 {
	-webkit-animation: flip8 4s linear;
	-moz-animation: flip8 4s linear;
	-o-animation: flip8 4s linear;
	animation: flip8 4s linear;
}
@-webkit-keyframes flip8 {
	000.00% {-webkit-transform-origin: bottom;}
	050.00% {-webkit-transform-origin: bottom; -webkit-transform: rotateX(-360deg);}
	050.01% {-webkit-transform-origin: top;    -webkit-transform: rotateX(-360deg);}
	100.00% {-webkit-transform-origin: top;    -webkit-transform: rotateX(   0deg);}
}
@-moz-keyframes flip8 {
	000.00% {-moz-transform-origin: bottom;}
	050.00% {-moz-transform-origin: bottom; -moz-transform: rotateX(-360deg);}
	050.01% {-moz-transform-origin: top;    -moz-transform: rotateX(-360deg);}
	100.00% {-moz-transform-origin: top;    -moz-transform: rotateX(   0deg);}
}
@-o-keyframes flip8 {
	000.00% {-o-transform-origin: bottom;}
	050.00% {-o-transform-origin: bottom; -o-transform: rotateX(-360deg);}
	050.01% {-o-transform-origin: top;    -o-transform: rotateX(-360deg);}
	100.00% {-o-transform-origin: top;    -o-transform: rotateX(   0deg);}
}
@keyframes flip8 {
	000.00% {transform-origin: bottom;}
	050.00% {transform-origin: bottom; transform: rotateX(-360deg);}
	050.01% {transform-origin: top;    transform: rotateX(-360deg);}
	100.00% {transform-origin: top;    transform: rotateX(   0deg);}
}
.flip9 {
	-webkit-animation: flip9 4s linear;
	-moz-animation: flip9 4s linear;
	-o-animation: flip9 4s linear;
	animation: flip9 4s linear;
}
@-webkit-keyframes flip9 {
	000.00% {-webkit-transform-origin: 50% 125%;}
	050.00% {-webkit-transform-origin: 50% 125%; -webkit-transform: rotateX(-360deg);}
	050.01% {-webkit-transform-origin: 50% -25%; -webkit-transform: rotateX(-360deg);}
	100.00% {-webkit-transform-origin: 50% -25%; -webkit-transform: rotateX(   0deg);}
}
@-moz-keyframes flip9 {
	000.00% {-moz-transform-origin: 50% 125%;}
	050.00% {-moz-transform-origin: 50% 125%; -moz-transform: rotateX(-360deg);}
	050.01% {-moz-transform-origin: 50% -25%; -moz-transform: rotateX(-360deg);}
	100.00% {-moz-transform-origin: 50% -25%; -moz-transform: rotateX(   0deg);}
}
@-o-keyframes flip9 {
	000.00% {-o-transform-origin: 50% 125%;}
	050.00% {-o-transform-origin: 50% 125%; -o-transform: rotateX(-360deg);}
	050.01% {-o-transform-origin: 50% -25%; -o-transform: rotateX(-360deg);}
	100.00% {-o-transform-origin: 50% -25%; -o-transform: rotateX(   0deg);}
}
@keyframes flip9 {
	000.00% {transform-origin: 50% 125%;}
	050.00% {transform-origin: 50% 125%; transform: rotateX(-360deg);}
	050.01% {transform-origin: 50% -25%; transform: rotateX(-360deg);}
	100.00% {transform-origin: 50% -25%; transform: rotateX(   0deg);}
}
.flip10 {
	-webkit-animation: flip10 4s linear;
	-moz-animation: flip10 4s linear;
	-o-animation: flip10 4s linear;
	animation: flip10 4s linear;
}
@-webkit-keyframes flip10 {
	000.00% {-webkit-transform-origin: left  top;}
	050.00% {-webkit-transform-origin: left  top;    -webkit-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-webkit-transform-origin: right bottom; -webkit-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-webkit-transform-origin: right bottom; -webkit-transform: rotate3d(4, -5, 0,   0deg);}
}
@-moz-keyframes flip10 {
	000.00% {-moz-transform-origin: left  top;}
	050.00% {-moz-transform-origin: left  top;    -moz-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-moz-transform-origin: right bottom; -moz-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-moz-transform-origin: right bottom; -moz-transform: rotate3d(4, -5, 0,   0deg);}
}
@-o-keyframes flip10 {
	000.00% {-o-transform-origin: left  top;}
	050.00% {-o-transform-origin: left  top;    -o-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-o-transform-origin: right bottom; -o-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-o-transform-origin: right bottom; -o-transform: rotate3d(4, -5, 0,   0deg);}
}
@keyframes flip10 {
	000.00% {transform-origin: left  top;}
	050.00% {transform-origin: left  top;    transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {transform-origin: right bottom; transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {transform-origin: right bottom; transform: rotate3d(4, -5, 0,   0deg);}
}
.flip11 {
	-webkit-animation: flip11 4s linear;
	-moz-animation: flip11 4s linear;
	-o-animation: flip11 4s linear;
	animation: flip11 4s linear;
}
@-webkit-keyframes flip11 {
	000.00% {-webkit-transform-origin: -25% -25%;}
	050.00% {-webkit-transform-origin: -25% -25%; -webkit-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-webkit-transform-origin: 125% 125%; -webkit-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-webkit-transform-origin: 125% 125%; -webkit-transform: rotate3d(4, -5, 0,   0deg);}
}
@-moz-keyframes flip11 {
	000.00% {-moz-transform-origin: -25% -25%;}
	050.00% {-moz-transform-origin: -25% -25%; -moz-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-moz-transform-origin: 125% 125%; -moz-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-moz-transform-origin: 125% 125%; -moz-transform: rotate3d(4, -5, 0,   0deg);}
}
@-o-keyframes flip11 {
	000.00% {-o-transform-origin: -25% -25%;}
	050.00% {-o-transform-origin: -25% -25%; -o-transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {-o-transform-origin: 125% 125%; -o-transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {-o-transform-origin: 125% 125%; -o-transform: rotate3d(4, -5, 0,   0deg);}
}
@keyframes flip11 {
	000.00% {transform-origin: -25% -25%;}
	050.00% {transform-origin: -25% -25%; transform: rotate3d(4, -5, 0, 360deg);}
	050.01% {transform-origin: 125% 125%; transform: rotate3d(4, -5, 0, 360deg);}
	100.00% {transform-origin: 125% 125%; transform: rotate3d(4, -5, 0,   0deg);}
}
.flip12 {
	-webkit-animation: flip12 20s linear;
	-moz-animation: flip12 20s linear;
	-o-animation: flip12 20s linear;
	animation: flip12 20s linear;
}
@-webkit-keyframes flip12 {
	000.00% {-webkit-transform-origin: left  top;}
	020.00% {-webkit-transform-origin: right top;    -webkit-transform: rotateY(           1080deg);}
	020.01% {-webkit-transform-origin: right top;    -webkit-transform: rotate3d(-4, 5, 0, 1080deg);}
	040.00% {-webkit-transform-origin: right bottom; -webkit-transform: rotate3d(-4, 5, 0, 2160deg);}
	040.01% {-webkit-transform-origin: right bottom; -webkit-transform: rotateX(           2160deg);}
	060.00% {-webkit-transform-origin: right top;    -webkit-transform: rotateX(           1080deg);}
	060.01% {-webkit-transform-origin: left  top;    -webkit-transform: rotate3d( 4, 5, 0, 1080deg);}
	080.00% {-webkit-transform-origin: right top;    -webkit-transform: rotate3d( 4, 5, 0, 2160deg);}
	080.01% {-webkit-transform-origin: right top;    -webkit-transform: rotateY(           2160deg);}
	100.00% {-webkit-transform-origin: left  top;    -webkit-transform: rotateY(           3240deg);}
}
@-moz-keyframes flip12 {
	000.00% {-moz-transform-origin: left  top;}
	020.00% {-moz-transform-origin: right top;    -moz-transform: rotateY(           1080deg);}
	020.01% {-moz-transform-origin: right top;    -moz-transform: rotate3d(-4, 5, 0, 1080deg);}
	040.00% {-moz-transform-origin: right bottom; -moz-transform: rotate3d(-4, 5, 0, 2160deg);}
	040.01% {-moz-transform-origin: right bottom; -moz-transform: rotateX(           2160deg);}
	060.00% {-moz-transform-origin: right top;    -moz-transform: rotateX(           1080deg);}
	060.01% {-moz-transform-origin: left  top;    -moz-transform: rotate3d( 4, 5, 0, 1080deg);}
	080.00% {-moz-transform-origin: right top;    -moz-transform: rotate3d( 4, 5, 0, 2160deg);}
	080.01% {-moz-transform-origin: right top;    -moz-transform: rotateY(           2160deg);}
	100.00% {-moz-transform-origin: left  top;    -moz-transform: rotateY(           3240deg);}
}
@-o-keyframes flip12 {
	000.00% {-o-transform-origin: left  top;}
	020.00% {-o-transform-origin: right top;    -o-transform: rotateY(           1080deg);}
	020.01% {-o-transform-origin: right top;    -o-transform: rotate3d(-4, 5, 0, 1080deg);}
	040.00% {-o-transform-origin: right bottom; -o-transform: rotate3d(-4, 5, 0, 2160deg);}
	040.01% {-o-transform-origin: right bottom; -o-transform: rotateX(           2160deg);}
	060.00% {-o-transform-origin: right top;    -o-transform: rotateX(           1080deg);}
	060.01% {-o-transform-origin: left  top;    -o-transform: rotate3d( 4, 5, 0, 1080deg);}
	080.00% {-o-transform-origin: right top;    -o-transform: rotate3d( 4, 5, 0, 2160deg);}
	080.01% {-o-transform-origin: right top;    -o-transform: rotateY(           2160deg);}
	100.00% {-o-transform-origin: left  top;    -o-transform: rotateY(           3240deg);}
}
@keyframes flip12 {
	000.00% {transform-origin: left  top;}
	020.00% {transform-origin: right top;    transform: rotateY(           1080deg);}
	020.01% {transform-origin: right top;    transform: rotate3d(-4, 5, 0, 1080deg);}
	040.00% {transform-origin: right bottom; transform: rotate3d(-4, 5, 0, 2160deg);}
	040.01% {transform-origin: right bottom; transform: rotateX(           2160deg);}
	060.00% {transform-origin: right top;    transform: rotateX(           1080deg);}
	060.01% {transform-origin: left  top;    transform: rotate3d( 4, 5, 0, 1080deg);}
	080.00% {transform-origin: right top;    transform: rotate3d( 4, 5, 0, 2160deg);}
	080.01% {transform-origin: right top;    transform: rotateY(           2160deg);}
	100.00% {transform-origin: left  top;    transform: rotateY(           3240deg);}
}
.flip13 {
	-webkit-animation: flip13 4s linear;
	-moz-animation: flip13 4s linear;
	-o-animation: flip13 4s linear;
	animation: flip13 4s linear;
}
@-webkit-keyframes flip13 {
	000.00% {-webkit-transform-origin: 50% 50% -100px;}
	050.00% {-webkit-transform-origin: 50% 50% -100px; -webkit-transform: rotate3d(-4, 5, -2, 360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(-4, 5,  2, 360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(-4, 5,  2,   0deg);}
}
@-moz-keyframes flip13 {
	000.00% {-moz-transform-origin: 50% 50% -100px;}
	050.00% {-moz-transform-origin: 50% 50% -100px; -moz-transform: rotate3d(-4, 5, -2, 360deg);}
	050.01% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(-4, 5,  2, 360deg);}
	100.00% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(-4, 5,  2,   0deg);}
}
@-o-keyframes flip13 {
	000.00% {-o-transform-origin: 50% 50% -100px;}
	050.00% {-o-transform-origin: 50% 50% -100px; -o-transform: rotate3d(-4, 5, -2, 360deg);}
	050.01% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(-4, 5,  2, 360deg);}
	100.00% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(-4, 5,  2,   0deg);}
}
@keyframes flip13 {
	000.00% {transform-origin: 50% 50% -100px;}
	050.00% {transform-origin: 50% 50% -100px; transform: rotate3d(-4, 5, -2, 360deg);}
	050.01% {transform-origin: 50% 50%  100px; transform: rotate3d(-4, 5,  2, 360deg);}
	100.00% {transform-origin: 50% 50%  100px; transform: rotate3d(-4, 5,  2,   0deg);}
}
.flip14 {
	-webkit-animation: flip14 4s linear;
	-moz-animation: flip14 4s linear;
	-o-animation: flip14 4s linear;
	animation: flip14 4s linear;
}
@-webkit-keyframes flip14 {
	000.00% {-webkit-transform-origin: 50% 50% -100px;}
	050.00% {-webkit-transform-origin: 50% 50% -100px; -webkit-transform: rotate3d(-4, -5, -2, 360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(-4, -5,  2, 360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(-4, -5,  2,   0deg);}
}
@-moz-keyframes flip14 {
	000.00% {-moz-transform-origin: 50% 50% -100px;}
	050.00% {-moz-transform-origin: 50% 50% -100px; -moz-transform: rotate3d(-4, -5, -2, 360deg);}
	050.01% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(-4, -5,  2, 360deg);}
	100.00% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(-4, -5,  2,   0deg);}
}
@-o-keyframes flip14 {
	000.00% {-o-transform-origin: 50% 50% -100px;}
	050.00% {-o-transform-origin: 50% 50% -100px; -o-transform: rotate3d(-4, -5, -2, 360deg);}
	050.01% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(-4, -5,  2, 360deg);}
	100.00% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(-4, -5,  2,   0deg);}
}
@keyframes flip14 {
	000.00% {transform-origin: 50% 50% -100px;}
	050.00% {transform-origin: 50% 50% -100px; transform: rotate3d(-4, -5, -2, 360deg);}
	050.01% {transform-origin: 50% 50%  100px; transform: rotate3d(-4, -5,  2, 360deg);}
	100.00% {transform-origin: 50% 50%  100px; transform: rotate3d(-4, -5,  2,   0deg);}
}
.flip15 {
	-webkit-animation: flip15 4s linear;
	-moz-animation: flip15 4s linear;
	-o-animation: flip15 4s linear;
	animation: flip15 4s linear;
}
@-webkit-keyframes flip15 {
	000.00% {-webkit-transform-origin: 50% 50% -100px;}
	050.00% {-webkit-transform-origin: 50% 50% -100px; -webkit-transform: rotate3d(4, -5, -2, 360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(4, -5,  2, 360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(4, -5,  2,   0deg);}
}
@-moz-keyframes flip15 {
	000.00% {-moz-transform-origin: 50% 50% -100px;}
	050.00% {-moz-transform-origin: 50% 50% -100px; -moz-transform: rotate3d(4, -5, -2, 360deg);}
	050.01% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(4, -5,  2, 360deg);}
	100.00% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(4, -5,  2,   0deg);}
}
@-o-keyframes flip15 {
	000.00% {-o-transform-origin: 50% 50% -100px;}
	050.00% {-o-transform-origin: 50% 50% -100px; -o-transform: rotate3d(4, -5, -2, 360deg);}
	050.01% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(4, -5,  2, 360deg);}
	100.00% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(4, -5,  2,   0deg);}
}
@keyframes flip15 {
	000.00% {transform-origin: 50% 50% -100px;}
	050.00% {transform-origin: 50% 50% -100px; transform: rotate3d(4, -5, -2, 360deg);}
	050.01% {transform-origin: 50% 50%  100px; transform: rotate3d(4, -5,  2, 360deg);}
	100.00% {transform-origin: 50% 50%  100px; transform: rotate3d(4, -5,  2,   0deg);}
}
.flip16 {
	-webkit-animation: flip16 4s linear;
	-moz-animation: flip16 4s linear;
	-o-animation: flip16 4s linear;
	animation: flip16 4s linear;
}
@-webkit-keyframes flip16 {
	000.00% {-webkit-transform-origin: 50% 50% -100px;}
	050.00% {-webkit-transform-origin: 50% 50% -100px; -webkit-transform: rotate3d(4, 5, -2, 360deg);}
	050.01% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(4, 5,  2, 360deg);}
	100.00% {-webkit-transform-origin: 50% 50%  100px; -webkit-transform: rotate3d(4, 5,  2,   0deg);}
}
@-moz-keyframes flip16 {
	000.00% {-moz-transform-origin: 50% 50% -100px;}
	050.00% {-moz-transform-origin: 50% 50% -100px; -moz-transform: rotate3d(4, 5, -2, 360deg);}
	050.01% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(4, 5,  2, 360deg);}
	100.00% {-moz-transform-origin: 50% 50%  100px; -moz-transform: rotate3d(4, 5,  2,   0deg);}
}
@-o-keyframes flip16 {
	000.00% {-o-transform-origin: 50% 50% -100px;}
	050.00% {-o-transform-origin: 50% 50% -100px; -o-transform: rotate3d(4, 5, -2, 360deg);}
	050.01% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(4, 5,  2, 360deg);}
	100.00% {-o-transform-origin: 50% 50%  100px; -o-transform: rotate3d(4, 5,  2,   0deg);}
}
@keyframes flip16 {
	000.00% {transform-origin: 50% 50% -100px;}
	050.00% {transform-origin: 50% 50% -100px; transform: rotate3d(4, 5, -2, 360deg);}
	050.01% {transform-origin: 50% 50%  100px; transform: rotate3d(4, 5,  2, 360deg);}
	100.00% {transform-origin: 50% 50%  100px; transform: rotate3d(4, 5,  2,   0deg);}
}
.flip17 {
	-webkit-animation: flip17 8s linear;
	-moz-animation: flip17 8s linear;
	-o-animation: flip17 8s linear;
	animation: flip17 8s linear;
}
@-webkit-keyframes flip17 {
	000.00% {-webkit-transform-origin: 125% 125%  100px;}
	025.00% {-webkit-transform-origin: 125% 125%  100px; -webkit-transform: rotateY(360deg);}
	025.01% {-webkit-transform-origin: -25% -25% -100px;}
	050.00% {-webkit-transform-origin: -25% -25% -100px; -webkit-transform: rotateY(  0deg);}
	050.01% {-webkit-transform-origin: 125% 125% -100px;}
	075.00% {-webkit-transform-origin: 125% 125% -100px; -webkit-transform: rotateY(360deg);}
	075.01% {-webkit-transform-origin: -25% -25%  100px;}
	100.00% {-webkit-transform-origin: -25% -25%  100px; -webkit-transform: rotateY(  0deg);}
}
@-moz-keyframes flip17 {
	000.00% {-moz-transform-origin: 125% 125%  100px;}
	025.00% {-moz-transform-origin: 125% 125%  100px; -moz-transform: rotateY(360deg);}
	025.01% {-moz-transform-origin: -25% -25% -100px;}
	050.00% {-moz-transform-origin: -25% -25% -100px; -moz-transform: rotateY(  0deg);}
	050.01% {-moz-transform-origin: 125% 125% -100px;}
	075.00% {-moz-transform-origin: 125% 125% -100px; -moz-transform: rotateY(360deg);}
	075.01% {-moz-transform-origin: -25% -25%  100px;}
	100.00% {-moz-transform-origin: -25% -25%  100px; -moz-transform: rotateY(  0deg);}
}
@-o-keyframes flip17 {
	000.00% {-o-transform-origin: 125% 125%  100px;}
	025.00% {-o-transform-origin: 125% 125%  100px; -o-transform: rotateY(360deg);}
	025.01% {-o-transform-origin: -25% -25% -100px;}
	050.00% {-o-transform-origin: -25% -25% -100px; -o-transform: rotateY(  0deg);}
	050.01% {-o-transform-origin: 125% 125% -100px;}
	075.00% {-o-transform-origin: 125% 125% -100px; -o-transform: rotateY(360deg);}
	075.01% {-o-transform-origin: -25% -25%  100px;}
	100.00% {-o-transform-origin: -25% -25%  100px; -o-transform: rotateY(  0deg);}
}
@keyframes flip17 {
	000.00% {transform-origin: 125% 125%  100px;}
	025.00% {transform-origin: 125% 125%  100px; transform: rotateY(360deg);}
	025.01% {transform-origin: -25% -25% -100px;}
	050.00% {transform-origin: -25% -25% -100px; transform: rotateY(  0deg);}
	050.01% {transform-origin: 125% 125% -100px;}
	075.00% {transform-origin: 125% 125% -100px; transform: rotateY(360deg);}
	075.01% {transform-origin: -25% -25%  100px;}
	100.00% {transform-origin: -25% -25%  100px; transform: rotateY(  0deg);}
}
.flip18 {
	-webkit-animation: flip18 12s linear;
	-moz-animation: flip18 12s linear;
	-o-animation: flip18 12s linear;
	animation: flip18 12s linear;
}
@-webkit-keyframes flip18 {
	000.00% {-webkit-transform-origin: left  top;}
	016.66% {-webkit-transform-origin: left  top;    -webkit-transform: rotateZ( 360deg) rotateY( 180deg);}
	016.67% {-webkit-transform-origin: left  bottom;}
	033.33% {-webkit-transform-origin: left  bottom; -webkit-transform: rotateZ( 720deg) rotateY( 360deg);}
	033.34% {-webkit-transform-origin: right top;}
	050.00% {-webkit-transform-origin: right top;    -webkit-transform: rotateZ(1080deg) rotateY( 540deg);}
	050.01% {-webkit-transform-origin: right bottom;}
	066.66% {-webkit-transform-origin: right bottom; -webkit-transform: rotateZ(1440deg) rotateY( 720deg);}
	066.67% {-webkit-transform-origin: left  top;}
	083.33% {-webkit-transform-origin: left  top;    -webkit-transform: rotateZ(1800deg) rotateY(1080deg);}
	083.34% {-webkit-transform-origin: right bottom;}
	100.00% {-webkit-transform-origin: right bottom; -webkit-transform: rotateZ(2160deg) rotateY(1440deg);}
}
@-moz-keyframes flip18 {
	000.00% {-moz-transform-origin: left  top;}
	016.66% {-moz-transform-origin: left  top;    -moz-transform: rotateZ( 360deg) rotateY( 180deg);}
	016.67% {-moz-transform-origin: left  bottom;}
	033.33% {-moz-transform-origin: left  bottom; -moz-transform: rotateZ( 720deg) rotateY( 360deg);}
	033.34% {-moz-transform-origin: right top;}
	050.00% {-moz-transform-origin: right top;    -moz-transform: rotateZ(1080deg) rotateY( 540deg);}
	050.01% {-moz-transform-origin: right bottom;}
	066.66% {-moz-transform-origin: right bottom; -moz-transform: rotateZ(1440deg) rotateY( 720deg);}
	066.67% {-moz-transform-origin: left  top;}
	083.33% {-moz-transform-origin: left  top;    -moz-transform: rotateZ(1800deg) rotateY(1080deg);}
	083.34% {-moz-transform-origin: right bottom;}
	100.00% {-moz-transform-origin: right bottom; -moz-transform: rotateZ(2160deg) rotateY(1440deg);}
}
@-o-keyframes flip18 {
	000.00% {-o-transform-origin: left  top;}
	016.66% {-o-transform-origin: left  top;    -o-transform: rotateZ( 360deg) rotateY( 180deg);}
	016.67% {-o-transform-origin: left  bottom;}
	033.33% {-o-transform-origin: left  bottom; -o-transform: rotateZ( 720deg) rotateY( 360deg);}
	033.34% {-o-transform-origin: right top;}
	050.00% {-o-transform-origin: right top;    -o-transform: rotateZ(1080deg) rotateY( 540deg);}
	050.01% {-o-transform-origin: right bottom;}
	066.66% {-o-transform-origin: right bottom; -o-transform: rotateZ(1440deg) rotateY( 720deg);}
	066.67% {-o-transform-origin: left  top;}
	083.33% {-o-transform-origin: left  top;    -o-transform: rotateZ(1800deg) rotateY(1080deg);}
	083.34% {-o-transform-origin: right bottom;}
	100.00% {-o-transform-origin: right bottom; -o-transform: rotateZ(2160deg) rotateY(1440deg);}
}
@keyframes flip18 {
	000.00% {transform-origin: left  top;}
	016.66% {transform-origin: left  top;    transform: rotateZ( 360deg) rotateY( 180deg);}
	016.67% {transform-origin: left  bottom;}
	033.33% {transform-origin: left  bottom; transform: rotateZ( 720deg) rotateY( 360deg);}
	033.34% {transform-origin: right top;}
	050.00% {transform-origin: right top;    transform: rotateZ(1080deg) rotateY( 540deg);}
	050.01% {transform-origin: right bottom;}
	066.66% {transform-origin: right bottom; transform: rotateZ(1440deg) rotateY( 720deg);}
	066.67% {transform-origin: left  top;}
	083.33% {transform-origin: left  top;    transform: rotateZ(1800deg) rotateY(1080deg);}
	083.34% {transform-origin: right bottom;}
	100.00% {transform-origin: right bottom; transform: rotateZ(2160deg) rotateY(1440deg);}
}
