
/**********************************************
 * 3D Sphere Animation With Virtual Trackball *
 * Design by ZulNs @Yogyakarta, December 2015 *
 **********************************************/

html, body {
	height: 100%;
	font: 16px Arial;
	background: #666;
	background: -webkit-linear-gradient(#222, #222, #444);
	background: -moz-linear-gradient(#222, #222, #444);
	background: -o-linear-gradient(#222, #222, #444);
	background: linear-gradient(#222, #222, #444);
	color: #fff;
}
.home-icon {
	vertical-align: middle;
}
.sphere-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	perspective: 1000px;
}
.sphere {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.sphere div {
	position: absolute;
	text-align: center;
	vertical-align: middle;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: transform 0.5s ease-in;
	-moz-transition: transform 0.5s ease-in;
	-o-transition: transform 0.5s ease-in;
	transition: transform 0.5s ease-in;
}
.paused {
	-webkit-animation-play-state: paused !important;
	-moz-animation-play-state: paused !important;
	-o-animation-play-state: paused !important;
	animation-play-state: paused !important;
}
.animate {
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	animation: spin 60s infinite linear;
}
@-webkit-keyframes spin {
	010.00% {-webkit-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-webkit-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-webkit-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-webkit-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-moz-keyframes spin {
	010.00% {-moz-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-moz-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-moz-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-moz-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@-o-keyframes spin {
	010.00% {-o-transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {-o-transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {-o-transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {-o-transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
@keyframes spin {
	010.00% {transform: rotateX(   0deg) rotateY( 360deg) rotateZ(   0deg);}
	020.00% {transform: rotateX( 360deg) rotateY( 360deg) rotateZ(   0deg);}
	030.00% {transform: rotateX( 720deg) rotateY( 720deg) rotateZ(   0deg);}
	100.00% {transform: rotateX(2880deg) rotateY(3240deg) rotateZ(2520deg);}
}
.show-geometry div {
	color: #fff;
	background: rgba(80, 80, 80, 0.5) !important;
	border: 1px solid #fff;
}
.expand-sides div,
.unpack-1 div,
.unpack-2 div,
.unpack-3 div,
.unpack-4 div,
.unpack-5 div,
.unpack-6 div,
.unpack-7 div,
.unpack-8 div,
.reset-position div {
	opacity: 0.9;
	filter: alpha(opacity=0.9);
}
.intermediate-state div {
	opacity: 0.9 !important;
	filter: alpha(opacity=0.9) !important;
}
.show-geometry div,
.expand-sides div,
.unpack-1 div,
.unpack-2 div,
.unpack-3 div,
.unpack-4 div,
.unpack-5 div,
.unpack-6 div,
.unpack-7 div,
.unpack-8 div,
.reset-position div,
.intermediate-state div {
	-webkit-backface-visibility: visible;
	-moz-backface-visibility: visible;
	-o-backface-visibility: visible;
	backface-visibility: visible;
}
input, input~ label, button, .manual-transform {
	cursor: pointer;
}
input:checked~ label {
	color: #f77;
}
